
@import url(../yaml/core/base.css);
@import url(../yaml/navigation/nav_shinybuttons.css);
@import url(../yaml/screen/basemod_draft.css);
@import url(../yaml/screen/content_default.css);
@import url(../yaml/print/print_draft.css);

@media screen, projection {
  #myID { background: #000; }

  * html .classname { color: red; }

  /*
   * Multiline comment
   * Line 2
   *
   */
}

@media only screen and (max-device-width: 480px) {
  #myID  { background: #fff; }

  /* Single line comment */
}